{% extends "bootstrap/base.html" %}

{% block styles %}
  {{super()}}
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
  {{pageTitle}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse">
  <ul class="nav nav-tabs">
    <li><a class="color-me-white" href="instances">Manage Instances</a></li>
    <li><a class="color-me-white" href="keys">Manage Keys</a></li>
  </ul>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="navbar-text navbar-left">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
