{% extends "bootstrap/base.html" %}

{% block styles %}
  {{super()}}
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
  {{pageTitle}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
  <ul class="nav nav-tabs">
    <li><a href="instances">View Instances</a></li>
    <li><a href="#">Make Reservations</a></li>
    <li><a href="update">Update</a></li>
  </ul>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="navbar-text navbar-right">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
