{% extends "base.html" %}

{% block content %}
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th><h3>Hostname</h3></th>
        <th><h3>Public IP</h3></th>
        <th><h3>Password</h3></th>
        <th><h3>State</h3></th>
        <th><h3>Instance ID</h3></th>
        <th><h3>Reservation ID</h3></th>
        <th><button class='btn btn-primary btn-block' type='submit' value='submit'><span class="glyphicon glyphicon-refresh"></span> Update All</button></th>
        <th><button class='btn btn-danger btn-block' type='submit'><span class="glyphicon glyphicon-remove"></span> Terminate All</button></th>
      </tr>
    </th>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td>{{entry.hostname}}</td>
        <td>{{entry.public_ip}}</td>
        <td>{{entry.password}}</td>
        <td>{{entry.state}}</td>
        <td>{{entry.instance_id}}</td>
        <td>{{entry.reservation_id}}</td>
        <td>
          <form method="POST">
            <input id='action' name='action' value='update' type=hidden>
            <input id='resType' name='resType' value='instance_id' type=hidden>
            <input id='resValue' name='resValue' value={{entry.instance_id}} type=hidden>
            <button class='btn btn-primary btn-block' type='submit'><span class="glyphicon glyphicon-refresh"></span> Update</button></form></td>
        <td>
          <form method="POST">
            <input id='action' name='action' value='terminate' type=hidden>
            <input id='resType' name='resType' value='instance_id' type=hidden>
            <input id='resValue' name='resValue' value={{entry.instance_id}} type=hidden>
            <button class='btn btn-danger btn-block' type='submit'><span class="glyphicon glyphicon-remove"></span> Terminate</button></form></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
