{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    {% for key in keys %}
      <div class="row">
        <div class="col-xs-2">
          <h4>{{ key }}</h4></input>
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#modal-{{key}}"><span class="glyphicon glyphicon-remove"></span> Delete key</button>
        </div>

        <div class="modal fade" id="modal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="term-{{key}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Delete Key?</h2></div>
              <div class="modal-body">
                This is will result in <b>{{key}}</b> being deleted from AWS and your local machine. This would prevent any machines using this key from being accessible. If you are sure this is what you would like to do, click below
              </div>
              <div class="modal-footer">
                <form method="POST">
                  <input id='key' name='key' value={{ key }} type='hidden'>
                  <button class='btn btn-danger' type='submit'>Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <br><br>
    {% if keys %}
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#modalTermAll"><span class="glyphicon glyphicon-remove"></span> Delete All Keys</button>
        </div>

        <div class="modal fade" id="modalTermAll" tabindex="-1" role="dialog" aria-labelledby="termAllModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Delete All Keys?</h2></div>
              <div class="modal-body">
                This is will result in <b>ALL</b> keys being deleted from AWS and your local machine. This would prevent any remaining machines from being accessible. If you are sure this is what you would like to do, click below
              </div>
              <div class="modal-footer">
                <form method="POST">
                  <input id='key' name='key' value='all' type='hidden'></input>
                  <button class='btn btn-danger btn-block' type='submit'><span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-remove"></span> Delete All Keys</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row"><h2> No keys defined</h2></div>
    {% endif %}
  </div>
{% endblock %}
